<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Maven Suite">

	<test name="Test Maven Project">
		
		<classes>
			<class name="MavenTestG.MavenTestI.clsTest" /> 
			<class name="MavenTestG.MavenTestI.clsTest2" />
			<class name="MavenTestG.MavenTestI.clsTest3" /> 
			<class name="MavenTestG.MavenTestI.clsTest4" /> 
		</classes>			
	</test> 
</suite> <!-- Suite -->